<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do v2</title>
</head>
<body>
    
    <form action="/" method="post">
        <input type="text" name="task">
        <button>Add</button>
    </form>
    

    <% for( let index = 0; index < docs.length; index++ ) { %>
        <form method="post" action="/?_method=DELETE" >
            <div>
                <%= docs[index].task %>
            </div>
            <div>
                <input name="id" value="<%= docs[index]._id %>" hidden>
                <a href="/edit/<%= docs[index]._id %>">Edit</a>
                <button type="submit">Delete</button>
            </div>
        </form>
        
    <% } %>
    
</body>
</html>